.employees {
  display: flex;
  gap: 1rem;
}

.employees img {
  width: 150px;
  border-radius: 10px;
}

.company-info iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button[type="submit"] {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}
