* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    border-radius: 20px;

}

nav a {
    display: block;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    text-decoration: none;
}

h1 {
    color: darkblue;
    background-color: rgb(230, 238, 245);
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 2rem;
    font-size: 25px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    border-radius: 20px;
    margin: 15px;
}

p {
    padding: 0;
}

main {
    grid-column: 2/3;
    margin: 1rem;

}

main p {
    padding: 10px;
    background-color: rgb(230, 238, 245);
    border-radius: 20px;
}


aside {
    border: 1px solid rgb(0 0 0 / 0.2);
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 110px;
    top: 33px;
}

aside p {
    font-size: 17px;
    
}

main img {
    float: right;
    width: 150px;
    height: auto;
}
 footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
 }

 footer p {
    margin-top: 30px;
    font-size: 20px;
 }

 /* Class Selector */

 .box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    border-radius: 10px;
    text-align: center;
    
 }

 .grid {
    display: grid;
    align-items: center;
 }

.box a {
    text-decoration: none;
}

.box li {
    padding: 5px;
    list-style: none;
}



 